
h1 {
    color:  rgba(116, 145, 99, 0.74);
    font-size: 80%;
}
h2 {
    color: #876;
}
p {
    color: pink;
}
body {
    background-color: royalblue;
}
#parrafo1 {
            color: black;
}
.caja {
    border: 1px solid white;
    height: 100px;
    width: 200px%;
}