
h1 {
    color:  rgba(116, 145, 99, 0.74);
    font-size: 80%;
}
h2 {
    color: #876;
}
p {
    color: pink;
}
body {
    background-color: royalblue;
}
#parrafo1 {
            color: black;
}
.caja {
    border: 20px solid white;
    height: 100px;
    width: 200px%;
    margin: 20px;
    padding: 20px;
}

.caja#Roja {
    border: 1px solid red;

}

.contenedor{
    margin: 45px 20px 10px 2px;
    padding: 50px 50px;
    border: 1px solid black;
    width: 300px;
    height: 500px;  
}