body{
    background: #e6e6e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    display: flex;
    flex-direction: row;

}

.nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    flex-direction: row;
    min-height:70px;
    border-radius: 40px;
}
.logo-contenedor {
    min-width: 50px;
    max-width: 50px; 
    margin-left: 10px;
}
.enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 20%;
    height: 20%;
    font-size: 18px;
    margin-right: 20px;
    font-style: normal;
}


.articles {
    width: 70%;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    flex-direction: column;
    
}



.articles article{
    background: white;
    margin-bottom: 5px;
    margin-top: 5px;    
    flex-wrap: wrap;
    border-radius: 20px;
}

.aside {
    width: 28.5%;
    display: flex;
flex-direction: column;
    border-radius: 40px 40px 40px 40px;
    position: 50%-100%;
    
}
aside .sidebar {
    display: flex;
    color: #fff;
    background: #ff8000;
    border-radius: 40px 40px 40px 40px;
    align-items: center ;
    justify-content: center;

}
.article-sb {
    display: flex;
    background: white;
    margin-bottom: 5px;
    margin-top: 5px;    
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.h2sidebar{
    display: flex;
}

footer {
    clear: both;
    box-sizing: border-box;
}
 .footer-content {
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
    border-radius: 40px;
    justify-content: center;
}
.contenedor-tabla{
    display: flex;
    flex-direction: row;    
    background-color: #e6e6e6;
    justify-content: center;
    box-shadow: 10px;
   
}
.tabla{
    display: flex;
    flex-direction: row;
    color: gray;
    flex-wrap: wrap;
    justify-content: center;
   }
