* {
    box-sizing: border-box;
}
.body {
    background-color: #ededed;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px black;
}

.h-class {
    display: block;
    background: #fff059;
    position: absolute;
    height: auto;
    padding: 5px 50px; 
}

.gris {
    background-color: gray;
}

img{
    height: 50px;
    top: 11px;
    width: 110px;
}

header, section.page, footer{
    width: 100%;
    height: 100%;
}
 
main.main{
    position: relative;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 15px;
}
.login{
    position: relative;
    background-color: gainsboro;
    width: 360px;
    height: 433px;
    padding: 40px 30px;
   
    border-radius: 15px;
    transition: .5s;
    margin-top: 1050px;
    margin-bottom: 1050px;
}

.form {
    width: 100%;
    height: 80%;
    color: wheat;

}
.input-form {
    position: relative;
    margin: 30px 0px;
}
.input-form label, input{
    display:block;
    width: 100%;
}
.input-form label{
    font-size: 15px black;
    margin-bottom: 8px;
    text-align: center;
}
.titulo{
     border: 1px black;
     color: black;
     height: 30px;
     padding-left: 10px;
    }

}
.botones{
    position: relative;
    text-align: center;
}
.botones button{
    width: 90%;
    height: 30px;
    margin: 5px 0px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    letter-spacing: 3px;
    color: white;
    transition: .5s;
}

.help{
    text-align: center;
}
.term{
    padding: 50px 0px;
    text-align: center;
}
footer{
    height: 80px;
    padding: 30px 0px;
    text-align: center;
    background-color: white;
     margin-top: auto;
}
